body {
	background: url("../images/background.jpg") center no-repeat fixed;
	background-size: cover;
	font-family: 'Lato', sans-serif;
}

.header {
	background: rgba(95,118,133,0.8);
	color: white;
	position:fixed;
    width: 100%;
    padding-top: 0px;
    margin-top: -1em;
}

.header > .logo {
	font-size: 2em;
	padding: .25em 1em;
	font-family: 'Crimson Text', serif;
	font-weight: bold;
}

.header ul, li {
	display: inline;
}

.header li {
	margin: 0 .6em;
}

.header p {
	display: inline;
	font-size: .5em;
}



.menu {
	float:right;
	vertical-align: middle;
	margin: 1em 0 0 0;
}

.menu a {
	color: white;
	text-decoration: none;
}

.italic {
	font-style: italic;
}

.menu a:hover{
	color: yellow
}

.content {
	max-width: 960px;
	margin: 5em auto;
}

.content::before {
	min-height: 100px;
}

.card-nav h1 {
	font-size: 1.5em;
	padding: 1em 0 .5em 0;
}
.card-nav p {
	/*display: block;*/
	margin: .7em 0;
	font-size: .65em;
	font-weight: 300;
}

.card-nav time {
	font-size: .65em;
	font-weight: 300;
	margin-bottom: 3em;
}

.card-nav-title {
	background-color: #ffeb00;
	color: black;
	padding: .6em .6em 2em;
	font-weight: bold;
}



.card-nav-body::before, .card-nav-body::after {	
	width: 100%;
	margin: 0 0;
	padding: 0 0;
	color: gray;
	background-color: black;
	display: block;
	text-align: center;
	font-size: 2em;	
}

.card-nav-body:hover::before, .card-nav-body:hover::after {
	color:white;
}

.card-nav-body::before {
	content: "\2c4";
}

.card-nav-body::after {
	content: "\2c5";
}

.card-nav-body {
	background: #313131;	
	font-weight:300;	
	padding-top: 0em;	
}

.card-nav-body a {
	text-decoration: none;
	color: #aaa;
	font-weight:300;
	font-size: 0.8em;	
	list-style: decimal inside;	
}

.card-nav-body a:hover {
	color: #6f96a8;
}

.card-nav-body li {
	display: list-item;
	margin: 1.25em;	
}

.card-nav-body ol {
	list-style: decimal outside;
	color: #666;
	margin: 1em 0 1em 1em;
	overflow-y: scroll;	
	height: 40em;	
}

.card {
	background-color: white;
	color: black;
}

.card h1 {
	font-size: 1.5em;
	margin: 2em 0 1em 0;
	font-weight: bold;
}

.card-header {
	background-color: #fff200;
	font-size: 1em;
	text-align: center;
	padding: 0.5em 0;
	color: DarkGray;
}

.card-header::before {
	content: "\2329";
	float:left;
	margin: 0 1em;
}

.card-header::after {
	content: "\232a";
	float:right;
	margin: 0 1em;
}

.card-content {
	width: 90%;
	margin: 0 auto 2em auto;
}

.card-content p {
	margin-bottom: 1em;
	line-height: 1.5;
	font-size: 1em;
}

.image {
	width: 240px;
	padding: 7px;
    border: solid 1px #ddd;
}

.right {
	float: right;
	margin: 0 0 0 0.8em;
}

.card-footer {
	border: 1px solid LightGray;
    background-color: white;
	font-size: 1em;
	text-align: center;
	padding: 0.5em 0;
	color: DarkGray;
}

.card-footer::before {
	content: "\2329";
	float:left;
	margin: 0 1em;
}

.card-footer::after {
	content: "\232a";
	float:right;
	margin: 0 1em;
}

.card-footer ul, li {
	display: inline;
}

.card-footer li {
	margin: 0 .6em;
}

.card-footer p {
	display: inline;
	font-size: .5em;
}

.card-footer  .menu {
	display: inline;
	vertical-align: middle;
	margin: 1em auto;
	float: none;
}

.card-footer > .menu a {
	color: black;
	text-decoration: none;
}

@media all and (max-width: 768px) {
  .hidden-small {
  	display: none;	
  }
}

@media all and (min-width: 768px) {
  .hidden-large {
  	display: none;	
  }
}


.menut-expand {
	display: inline-block;
	font-size: .8em;
	margin: 0 .5em;
}

.onclick-menu {
    position: relative;
/*    display: inline-block;*/
}

.onclick-menu:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;
    outline: none;
}

.onclick-menu:focus > .onclick-menu-content {
    /*  opacity is 1 in opened state (see below) */
    opacity: 1;
    visibility: visible;

    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;
}
.onclick-menu-content {
    position: absolute;
    z-index: 1;

    /* use opacity to fake immediate toggle */
    opacity: 0;
    visibility: hidden;
    transition: opacity  0.5s;
}

.popup-menu {
	font-size: .65em;
	height: 20em;
	overflow-y: scroll;
}

