body {
	background: url("../images/background.jpg") center no-repeat fixed;
	background-size: cover;
	font-family: 'Lato', sans-serif;
}

.header {
	background: rgba(95,118,133,0.8);
	color: white;
	position:fixed;
    width: 100%;
    padding-top: 0px;
    margin-top: -1em;
}

.header > .logo {
	font-size: 2em;
	padding: .25em 1em;
}

.header ul, li {
	display: inline;
}

.header li {
	margin: 0 .6em;
}

.header p {
	display: inline;
	font-size: .5em;
}

.menu {
	float:right;
	vertical-align: middle;
	margin: 1em 0 0 0;
}

.menu a {
	color: white;
	text-decoration: none;
}

.italic {
	font-style: italic;
}

.menu a:hover{
	color: yellow
}

.content {
	max-width: 960px;
	margin: 5em auto;
}

.content::before {
	min-height: 100px;
}

.card-nav h1 {
	font-size: 1.5em;
	padding: 1em 0 .5em 0;
}
.card-nav p {
	/*display: block;*/
	margin: .7em 0;
	font-size: .65em;
	font-weight: 300;
}

.card-nav-title {
	background-color: #ffeb00;
	color: black;
	padding: .6em;
	font-weight: bold;
}


.card-nav-body {
	background: #313131;	
	font-weight:300;	
	padding-top: 1em;
}

.card-nav-body a {
	text-decoration: none;
	color: #aaa;
	font-weight:300;
	font-size: 0.8em;	
	list-style: decimal inside;	
}

.card-nav-body a:hover {
	color: #6f96a8;
}

.card-nav-body li {
	display: list-item;
	margin: 1.25em;	
}

.card-nav-body ol {
	list-style: decimal outside;
	color: #666;
	margin: 1em 0 1em 1em;
}

.card {
	background-color: white;
	color: black;
}

.card h1 {
	font-size: 1.5em;
	margin: 2em 0 1em 0;
	font-weight: bold;
}

.card-header {
	background-color: #fff200;
	font-size: 1em;
	text-align: center;
	padding: 0.5em 0;
	color: DarkGray;
}

.card-header::before {
	content: "\2329";
	float:left;
	margin: 0 1em;
}

.card-header::after {
	content: "\232a";
	float:right;
	margin: 0 1em;
}

.card-content {
	width: 90%;
	margin: 0 auto 2em auto;
}

.card-content p {
	margin-bottom: 1em;
	line-height: 1.5;
	font-size: 1em;
}

.image {
	width: 240px;
	padding: 7px;
    border: solid 1px #ddd;
}

.right {
	float: right;
	margin: 0 0 0 0.8em;
}

.card-footer {
	border: 1px solid LightGray;
    background-color: white;
	font-size: 1em;
	text-align: center;
	padding: 0.5em 0;
	color: DarkGray;
}

.card-footer::before {
	content: "\2329";
	float:left;
	margin: 0 1em;
}

.card-footer::after {
	content: "\232a";
	float:right;
	margin: 0 1em;
}

.card-footer ul, li {
	display: inline;
}

.card-footer li {
	margin: 0 .6em;
}

.card-footer p {
	display: inline;
	font-size: .5em;
}

.card-footer  .menu {
	display: inline;
	vertical-align: middle;
	margin: 1em auto;
	float: none;
}

.card-footer > .menu a {
	color: black;
	text-decoration: none;
}
